@font-face{
            font-family: st_menu_page;
            src:url(../fonts/gotham/Gotham-Medium.otf);
        }
        @font-face{
            font-family: btn_view_more;
            src:url(../fonts/gotham/Gotham-BookIta.otf);
        }

        @font-face{
            font-family: client;
            src:url(../fonts/gotham/Gotham-Book.otf);
        }

        @font-face{
            font-family: gothamBold;
            src:url(../fonts/gotham/Gotham-Bold.otf);
        }

        @font-face{
            font-family: gothamMediumItalic;
            src:url(../fonts/gotham/Gotham-MediumIta.otf);
        }

        .m_jumbotron.full .carousel .positioning{
            width: 100%;
        }

        .m_jumbotron.full .carousel .tagline_title { 
            font-size: 3rem;
            color: #FFFFFF;
            padding-bottom: 10px;
        } 
        .m_jumbotron.full .carousel .tagline {
            font-size: 1.5rem;
            color: #FFFFFF;
            line-height: 1.5;
            font-family: client;
            text-transform: none;
            word-wrap:break-word;
            width: 40%;
            margin-top: 1.5rem;
        }

        .m_jumbotron.full .carousel .vision {
            font-size: 3rem;
            color: #851F12;
            line-height: 1.2;
            font-family: st_menu_page;
        }

        .m_jumbotron.full .carousel .vision_content {
            font-size: 1.5rem;
            color: #939598;
            line-height: 1.2;
            font-family: client;
            position: relative;
            top:-10px;
            padding-bottom: 55px;
            word-wrap:break-word;
            width: 400px;
            line-height: 1.5;
        }

        
        .m_jumbotron.full .carousel .client {
            font-family: st_menu_page;
            font-size: 3rem;
            color: #FFF;
            line-height: 1.1;
        }

        .m_jumbotron.full .carousel .about_content{
            font-family: client;
            font-size: 1.2rem;
            color: #FFF;
            text-align: left;
            position: relative;
            top: -35px;
            word-wrap: break-word;
            width: 425px;
        }

        .m_jumbotron.full .carousel .history_content{
            font-family: client;
            font-size: 1.5rem;
            color: #FFF;
            text-align: left;
            position: relative;
            top: -35px;
            word-wrap: break-word;
            width: 500px;
        }

        .m_jumbotron.full .carousel .title_history{
            font-family: btn_view_more;
            font-size: 1.2rem;
            color: #FFF;
            text-align: left;
            position: relative;
            top: 15px;
        }

        .m_jumbotron.full .carousel .box-content{
            float:right;
            width:1000px;
            height:auto; 
            padding: 10px 0 35px 120px; 
            background:rgba(133,31,18,0.7);
            text-align: right;
        }
     

        .m_jumbotron.full .carousel .box-content .btn-hollow{
            float: left;
            margin-right: 6px;
            text-transform: lowercase;
            font-family: client;
            font-size: 1.2rem;
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
        .m_jumbotron.full .carousel .case-study {
            padding-top: 35vh;
            float:left !important;
        }

        .m_jumbotron.full .carousel .item > .inner{
            text-align: left;
            padding-left: 170px;
            display: block;
        }

        .m_jumbotron.full .carousel .item > .positioning{
            text-align: left;
            float: left;
            padding-left: 170px;
            display: block;
            max-width: 729px;
        }


        .bx-viewport{
            overflow: visible !important;
        }
        #left, #right{
            cursor: pointer;
            position: absolute;
            z-index: 1;
            top: -1px;
        }

        #right{
            margin-left: 100px;
        }

        .outerwrapper{
            width: 100%;
        }
        .st-menu{
            background:#FFF;
        }
        .menu-open .menu-trigger span.before, .menu-open .menu-trigger span.after{
            background-color: #58595b !important;
        }

        .menu-trigger{
            margin-right: 7%;
            top: 23px;
        }


        .st-menu .page{
            font-size: 1.8rem;
            font-family: st_menu_page;
            line-height: 2.0 !important;
        }
        .st-menu .page a:hover{
            color:#841F10;
        }

        .st-menu .nested{
            padding-bottom: 0.4rem !important;
        }
        .st-menu .nested a{
            font-size: 1.2rem;
            
        }

        .m_jumbotron.full .carousel .btn-hollow{
            font-family: btn_view_more;
            color: #FFF !important;
            background: transparent !important;
            border-color: #FFF !important;
            padding: 3px 7px !important;
        }

        .menu-open.st-container:after{
            background-color: rgba(133,32,19,.85);
        }

        .menu-open.st-container {
            min-height: 520px;
        }

        #features .item{
            border: 15px solid #FFF;
            background-position: 97% 1px;
        }

        #featured-posts{
            top: 29%%;
            right: 17.5%;
        }

        .featured-content .heading{
            font-family: st_menu_page;
            font-size: 3rem;
            color: #FFF;
        }

        .featured-content .sub-office-1{
            float:left; 
            padding-right:250px;
            color:#FFF;
            font-family: client;
        }

        .featured-content .sub-office-2{
            float:left;
            color:#FFF;
            font-family: client;
        }

        .masthead{
            padding: 30px 0 80px 0;
        }
        .has-alert .masthead {
            top: 0px;
            width: 100%;
            /* height: 75px; */
            background: #FFF;
        }
        .logo-union{
            width: 155px;
        }
        .logo-union svg{
            height: 104px;
            position: relative;
            top: -21px;
        }

        @media (max-width: 320px) {

            .m_jumbotron.full .carousel .client{
                font-size: 2rem;
            }

            .m_jumbotron.full .carousel .tagline{
                font-size: 1.2rem;
            }
            .m_jumbotron.full .carousel .to-case-studies{
                
            }

            
        }

        @media only screen and (min-width: 480px) and (max-width: 780px) and (orientation: landscape){
            .masthead{
                padding: 10px 0 60px 0;
            }

            .m_jumbotron.full .carousel .positioning .client{
                font-size: 1.6rem;
                padding-top: 127px;
            }

            .m_jumbotron.full .carousel .inner .client{
                font-size: 90%;
                padding-top: 10px;
            }

            .m_jumbotron.full .carousel .inner .tagline {
                font-size: 1.1rem;
                width: 90%;
                margin-top: 0.1rem;
                margin-bottom: -2.5rem;
            }
            

            .m_jumbotron.full .carousel .item > .positioning{
                padding-left: 0;
                text-align: center;
            }

            .m_jumbotron.full .carousel .to-case-studies{
                top: 80%;
            }

            .m_jumbotron.full .carousel .item > .inner{
                padding-left: 55px;
            }

            .m_jumbotron.full .carousel .btn-hollow{
                font-size: 10%;
            }
        }

        @media (max-width:  414px) {
            #features .item{
                background-position: 97% 87px;
            }

            .m_jumbotron.full .carousel .item > .inner{
                padding-left: 40px;
                padding-top: 25px;
                padding-bottom: 10px;
            }

            .m_jumbotron.full .carousel .item > .positioning{
                left: 0;
                padding-left: 0;
                padding-top: 105px;
                text-align: center;
            }

            .m_jumbotron.full .carousel .tagline {
                width: 80%;
                margin-bottom: -1.5rem;
            }

            .m_jumbotron.full .carousel .case-study{
                padding-top: 25vh;
            }
        }

      


        @media (min-width:  415px) and (max-width:  768px) and (orientation:landscape) {
            .m_jumbotron.full .carousel .case-study {
                padding-top: 20vh !important;
            }

            .m_jumbotron.full .carousel .item > .inner{
                padding-left: 62px;
                padding-top: 30px;
            }

            .m_jumbotron.full .carousel .item > .positioning{
                text-align: center;
                padding-left: 0;
            }

            .m_jumbotron.full .carousel .case-study .client{
                padding-top: 11px;
                font-size: 1.5rem;
            }
            .m_jumbotron.full .carousel .tagline {
                font-size: 0.7rem;
                width: 80%;
                margin-bottom: -1.5rem;
            }


            .m_jumbotron.full .carousel .btn-hollow{
                font-size: .2em;
            }
        }


        @media (width:  800px) {
            .m_jumbotron.full .carousel .item > .positioning{
                left: 0;
            }

            .m_jumbotron.full .carousel .item > .inner{
                padding-left: 80px;
                width: 1300px;
            }
            
        }

        @media (min-width:  1201px) {

        }









        @media (min-width: 520px){
            .st-menu {
                width: 23%;
                padding-right: 7%;
            }
        }

        @media (max-width: 520px){
             .menu-open .brand .letter{
                fill: rgb(133, 31, 18) !important;
            }
        }

        /*@media (max-width:  1220px){
            #featured-posts .featured-content .blog-content{
                left:3px;
            }

            .featured-content .sub-office-1{
                padding-right: 120px;
            }


        }


        @media (max-width:  533px) {
            .m_jumbotron.full .carousel .about_content {
                left: -80px;
                word-wrap: break-word;
                width: 400px;
            }

            .m_jumbotron.full .carousel .about_us {
                position: relative;
                left: -80px;
            }
            .m_jumbotron.full .carousel .box-content .btn-hollow{
                left: -80px;
                top: -18px;
            }


        }

        @media (max-width:  480px) {
            .m_jumbotron.full .carousel .about_content {
                left: -80px;
                word-wrap: break-word;
                width: 400px;
            }

            .m_jumbotron.full .carousel .about_us {
                position: relative;
                left: -80px;
            }
            .m_jumbotron.full .carousel .box-content .btn-hollow{
                left: -80px;
                top: -18px;
            }


        }

        @media (max-width:  384px) and (orientation:portrait) {
            .m_jumbotron.full .carousel .about_content,
            .m_jumbotron.full .carousel .history_content {
                left: -80px;
                word-wrap: break-word;
                width: 290px;
            }

            .m_jumbotron.full .carousel .about_us,
            .m_jumbotron.full .carousel .title_history,
            .m_jumbotron.full .carousel .history {
                position: relative;
                left: -80px;
            }
            .m_jumbotron.full .carousel .box-content .btn-hollow{
                left: -80px;
                top: -18px;
            }

            .m_jumbotron.full .carousel .title_history_left,
            .m_jumbotron.full .carousel .history_left,
            .m_jumbotron.full .carousel .history_content_left{
                left: -290px;
                word-wrap: break-word;
                width: 290px;
            }


        }

        @media (max-width:  640px) and (orientation:landscape) {
           .m_jumbotron.full .carousel .tagline {

                font-size: 1.8rem;
           }

           .m_jumbotron.full .carousel .client{
                font-size: 3rem;
           }
           .m_jumbotron.full .carousel .btn-hollow{
                font-size: .5rem;
                top: -30px;
           }
        }

        @media (max-width:  320px){
            .m_jumbotron.full .carousel .about_content {
                left: -105px;
                word-wrap: break-word;
                width: 290px;
            }

            .m_jumbotron.full .carousel .about_us {
                position: relative;
                left: -105px;
            }
            .m_jumbotron.full .carousel .box-content .btn-hollow{
                left: -105px;
                top: -18px;
            }


        }

        @media (max-width:  400px){
            #features .case-study {
                height: 730px !important;
            }

        }*/

        .st-menu .social{
            padding-top: 25px;
        }

        .csstransforms .st-menu nav[role="navigation"]{
            top: 58.7%;
        }
        .m_jumbotron .positioning{
            background: none;
        }
        .m_jumbotron.full .carousel .to-case-studies{
            left: 49.7%;
        }

        ul.spin{
            position: absolute;
            bottom: -670px;
            z-index: 1;

        }

        ul.spin li {
          width: 2em;
          height: 2em;
          text-align: center;
          line-height: 2em;
          border-radius: 1em;
          border: 1px solid #FFF;
          margin: 0 1em;
          display: inline-block;
          color: white;
          position: relative;
          cursor: pointer;
        }


        ul.spin li::before{
          content: '';
          position: absolute;
          top: .9em;
          left: -2.36em;
          width: 2.36em;
          height: .1em;
          background: #FFF;
          z-index: -1;
        }



        ul.spin li:first-child::before {
          display: none;
        }

        ul.spin li:hover {
          background: #841f10;
          border:2px solid #FFF;
        }

       

        



       


        /*.has-alert .masthead {
            top: 0px; 
        }

        @media (min-width: 480px){
            .masthead {
                padding: 20px 0;
            }
        }

        .fixed-menu{
            border:1px solid #FFF;
            background:#FFF;
            padding-bottom: 73px;"
        }*/

    

        .tooltip{
            font-size: 10px !important;

        }
        .tooltip:hover:after{
            top: 0px;
            color: #fff;
            content: attr(title);
            left: -620%;
            top:2px;
            padding:0;
            position: absolute;
            z-index: 98;
            width: auto;
            

        }

        .slick-prev{
            left:30px;
            top:33%;
        }

        .slick-next{
            right:30px;
            top:33%;
        }